.AboutMe {
  padding: 2rem;
}

.part1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.textpart2 {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.Photo {
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
}

.heading,
.heading2 {
  text-align: center;
}

.heading2 {
  font-size: 15px;
}

.Me {
  border-radius: 5px;
  box-shadow: 6px -1px 21px 0px #5e5e5e;
}

@media screen and (max-width: 500px) {
  .part1 {
    flex-direction: column;
  }

  .textpart2 {
    width: 100%;
  }

  .heading,
  .heading2 {
    text-align: start;
  }
}
