@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--default-font-family), -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  /* background: linear-gradient(0deg, rgb(3, 3, 3) 0%, rgb(49, 59, 57) 100%); */
  /* background: rgb(25, 142, 103); */
  background: rgb(33, 33, 33);
}

* {
  box-sizing: border-box;
}

html {
  --fontfamily-large-heading: "Permanent Marker", cursive;
  --fontfamily-headings: "Montserrat", sans-serif;
  --default-font-family: "Barlow Condensed", sans-serif;
}

h1 {
  font-family: var(--fontfamily-headings);
  font-weight: 900;
  font-size: 45px;
  padding: 0;
}

h2 {
  font-family: var(--fontfamily-headings);
  font-weight: 700;
  font-size: 21px;
  /* color: rgb(45, 45, 45); */
  color: rgb(178, 178, 178);
}

p {
  font-weight: 500;
  /* color: rgb(45, 45, 45); */
  color: rgb(178, 178, 178);
}

hr {
  border: 1px solid #044168;
}
