.Home {
  background: rgb(180, 230, 225);
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../public/sofiabackgrounddesktop.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  padding-left: 2rem;
  padding-top: 5rem;
}

.p {
  color: rgb(22, 87, 127);
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}
.Text {
  text-transform: uppercase;
  text-align: center;
  color: rgb(22, 87, 127);
  margin-top: 0;
  font-family: var(--fontfamily-large-heading);
}

.Icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1rem;
}

.Icons svg path {
  cursor: pointer;
}

@media screen and (max-width: 560px) {
  .Home {
    height: 60vh;
    padding-left: 0;
  }

  .p,
  .Icons,
  .Text {
    padding-left: 0.5rem;
  }

  .Text {
    text-align: start;
  }
}
