.Intro {
  position: relative;
  height: 75vh;
  background-color: rgb(25, 142, 103);
}

.IntroSquare {
  position: absolute;
  padding: 6rem;
  background-color: rgb(31, 31, 31);
  box-shadow: var(--default-boxshadow);
  left: 1rem;
  right: 1rem;
  top: 1rem;
  bottom: 1rem;
}

.Text {
  display: flex;
}

.Rubrik {
  text-transform: uppercase;
  font-family: var(--default-font-family);
}

.P {
  width: 70%;
  font-family: var(--fontfamily-alternative);
}

.Link {
  text-decoration: none;
  padding-left: 5px;
  color: rgb(78, 124, 193);
}

@media screen and (max-width: 460px) {
  .Intro {
    height: 55vh;
  }

  .IntroSquare {
    padding: 2rem;
  }
  .Text {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .P {
    width: 100%;
  }
}
