.Intro {
  padding-top: 3%;
  padding-bottom: 5%;
}

.Intro .Container .Photo .Girlcartoon {
  height: 80%;
  max-height: 370px;
  border-radius: 5%;
}
.Intro .Container .Photo {
  width: 50%;
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
}

.Intro .Container .Text {
  width: 50%;
  display: flex;
  flex-direction: row;
}

.Intro .Container .Text p {
  padding-left: 3%;
}

.Intro .Container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.Link {
  text-decoration: none;
  padding-left: 5px;
  color: rgb(78, 124, 193);
}

@media screen and (max-width: 755px) {
  .Intro .Container {
    display: flex;
    flex-direction: column;
  }

  .Intro .Container .Text {
    width: 100%;
  }

  .Intro .Container .Text p {
    padding-left: 0;
  }
}
