.Navbar {
  background: linear-gradient(0deg, rgb(25, 142, 103) 0%, rgb(13, 51, 81) 100%);
  height: 80px;
  width: 100%;
  position: fixed;
  z-index: 1;
}

.Navbarmenu {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  gap: 1rem;
  list-style: none;
}

.Link {
  text-decoration: none;
  color: rgb(3, 16, 23);
  list-style: none;
  font-size: 18px;
}

.Link:hover {
  color: antiquewhite;
}

.hamburger {
  display: none;
}

.homeIconMobile {
  cursor: pointer;
}

.homeIconDesktop {
  display: none;
}

@media screen and (max-width: 460px) {
  .Navbarmenu {
    flex-direction: column;
    padding: 1rem;
    background: rgb(25, 142, 103);
    position: absolute;
    width: 100%;
    top: 3.5rem;
  }

  .homeIconMobile {
    display: none;
  }

  .homeIconDesktop {
    display: block;
    cursor: pointer;
  }

  .buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    padding: 0;
    padding-top: 1rem;
  }

  .hamburger {
    background: transparent;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 44px;
    height: 40px;
    border: none;
    cursor: pointer;
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .bar {
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
  }

  .bar:visited {
    display: none;
  }
}
