.Skills {
  padding-bottom: 5%;
}

.Container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9rem;
  flex-wrap: wrap;
  padding: 1rem;
  padding-bottom: 0;
}

.List {
  padding: 0;
}

.List ul {
  list-style-type: none;
  padding: 0;
}

.List li {
  display: flex;
  justify-content: center;
  font-size: 23px;
  color: #a8409d;
}

.Text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 23px;
  text-align: center;
  padding-bottom: 0;
}

@media screen and (max-width: 800px) {
  .Container {
    gap: 4rem;
  }
}

@media screen and (max-width: 550px) {
  .Container {
    flex-direction: column;
    gap: 0;
  }
}
