.container {
  margin: 1rem;
  background-color: rgba(31, 31, 31, 0.941);
  box-shadow: var(--default-boxshadow);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 0;
}
.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rubrik,
.text {
  padding: 1rem;
  margin: 0;
}

.text {
  padding-top: 0;
}

.extLink {
  cursor: pointer;
}

.Unify,
.Memory {
  cursor: pointer;
  border-radius: 10px;
}

.LinkMemory,
.LinkUnify {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 225px;
  height: 142px;
  background-color: rgb(67, 200, 151);
  border-radius: 10px;
}

.LinkUnify {
  height: 175px;
}

@media screen and (max-width: 600px) {
  .Container {
    flex-direction: column;
  }
}
